/* This file is used to design and style the HTML web page
 features such as the navigation bar and buttons */

nav .navbar-brand
{
    font-size: xx-large;
}

nav .navbar-brand .red
{
    color: #ff0000;
}

nav .nav-item .redish
{
    color: #ff0000;
}

nav .nav-item .black
{
    color: #000000;
}

.images
{
  margin-bottom: 5rem;
  text-align: center;
}

.order2
{
    margin-bottom: 4rem;
}

h1
{
  font-family: 'Montserrat', sans-serif;
  font-size: 56px;
    margin-bottom: 4rem;
}

.time
{
    color:  #ff0000;
}

.btn-secondary
{
    margin-bottom: 4rem;
}

.btn-group-toggle .btn
{
    background-color: black;
    color: red;
}

.btn-group-toggle .btn.active
{
    background-color: black;
    color: red;
}

.form-group
{
    max-width: 500px;
    margin: 0 auto;
      margin-bottom: 2.5rem;
}